<div class="page-header">
    <div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>
    <a href="index.html" class="d-lg-none d-md-block">
      <img src="assets/images/logo.svg" class="logo-sm" alt="Our Logo">
    </a>
    <ol class="breadcrumb d-lg-flex d-none">
      <li class="breadcrumb-item">
        <i class="bi bi-house"></i>
        <a href="index.html">Home</a>
      </li>
      @if (data['crumb1']!='') {
      <li class="breadcrumb-item breadcrumb-active" aria-current="page">{{ data['crumb1'] }}</li>
      }
      @if (data['crumb2']!='') {
        <li class="breadcrumb-item breadcrumb-active" aria-current="page">{{ data['crumb2'] }}</li>
      }
      @if (data['crumb3']!='') {
          <li class="breadcrumb-item breadcrumb-active" aria-current="page">{{ data['crumb3'] }}</li>
      }
    </ol>
    <div class="header-actions-container" style="margin-left: 600px!important;">
      <ul class="header-actions">
        <li class="dropdown">
          <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
            <span class="user-name d-none d-md-block">{{ data.full_name }}</span>
            <span class="avatar">
              <img src="assets/images/user.png" alt="Admin Templates">
              <span class="status online"></span>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
            <div class="header-profile-actions">
              <a href="profile.html">Profile</a>
              <a href="account-settings.html">Settings</a>
              <a href="login.html">Logout</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- Header actions end -->

    </div>
  </div>