<div class="page-wrapper">

  <!-- Sidebar wrapper start -->
  <nav class="sidebar-wrapper">

    <!-- Sidebar brand starts -->
    <div class="sidebar-brand">
      <a href="index.html" class="logo">
        <img src="assets/images/logo.svg" alt="Admin Dashboards" />
      </a>
    </div>
    <app-sidebar-menu></app-sidebar-menu>
  </nav>
  <div class="main-container">
    <app-page-header></app-page-header>
      <router-outlet></router-outlet>
      <app-page-footer></app-page-footer>
    </div>
  </div>

